.link{
	border:0px;
	background:black;
	opacity:0.6;
	color:white;
	margin-left: 20px;
	margin-top:20px;
	width: 150px;
	height: 30px;
	font-size:15px;
	font-family:'comic sans ms'
}

.button{
	width:150px;
	height: 30px;
	color: white;
	background: transparent;
	font-size:15px;
	font-family:'comic sans ms'
}

.post{
	width:130px;
	height: 120px;
	margin-left: 850px;
}

.title{
	font-size: 60px;
	font-family: 'comic sans ms';
	color:black;
}

.titwo{
		font-size: 30px;
		font-family: 'comic sans ms';
		color:black;
}

.font{
	font-size:20px;
	font-family:'comic sans ms';
	color: black;
}
.text{
	width:400px;
	height: 30px;
	background: white;
	opacity:0.7;
	font-family: 'comic sans ms';
	font-size: 20px;
	font-weight: 100;
}
.search{
	background: white;
	color: black;
	width:350px;
	height:30px ;
	font-size: 20px;
	font-weight: 100;
	font-family:'comic sans ms';
}
