.div_outer {
	width: 57%;
	margin-left: 200px;
}
.div_default {
    width: 95%;
    /*float: left;*/
    margin-left:250px ;
	/*margin:0 auto;*/
}

.post_div {
	padding: 30px 40px 30px 40px;
	border-radius:12px;
	background: rgba(190, 190, 190, 0.75);
	font-size: 20px;
	word-wrap:break-word;  
    word-break:break-all;
}
.post_div_title {
	overflow: hidden;
	margin-bottom: 10px;
	border-bottom: 2px dashed #8D8D8D;
}
.post_div_title_label {
	font-size: 35px;
	float: left;
}
.post_div_title_btn {
	float: right;
	margin-top: 10px;
	padding-right: 10px;
}
.post_div_text {
	border-bottom: 0.5px dashed #8D8D8D;
	padding: 15px 10px 10px 25px;
	overflow: hidden;
}
.post_div_text_a {
	color: #336699;
	float: left;
}
.post_div_text_a:hover {
	color: #333366;
	text-decoration:none;
}
.post_div_text_submit {
	float: right;
	background:url(../../static/images/post_move.png) no-repeat center;
	background-color: rgba(240, 240, 240, 0.80);
	border-style: none;
	width: 30px;
}
.post_div_text_submit:focus {
	background:url(../../static/images/post_move.png) no-repeat center;
	background-color: rgba(200, 200, 200, 0.80);
	border-style: none;
}
.post_div_text_submit:hover {
	background:url(../../static/images/post_move.png) no-repeat center;
	background-color: rgba(210, 210, 210, 0.80);
	border-style: none;
}


.add_text {
	position: absolute;
	left: 570px;
	top: 80px;
	width: 560px;
	height: 580px;
	background-color: rgba(190, 190, 190, 0.80);
	display: none;
	border-radius: 8px;
	
}
.title_text {
	margin: 15px 30px 10px 30px;
	text-align: center;
}
.title_text > label {
	font-size: 25px;
}
.textarea_text {
	margin: 15px 30px 10px 30px;
}
.add_btn {
	margin-left: 90%;
}
