.black_content_lend {  
 display: none;
 position: absolute;
 background-color:black;  
 z-index:1002;
 border-radius: 20px;
 top: -120px;
 left: 60px;
 width:78%;
  height: 400px;
 /*height:300%;*/
}  

/* managebook页表格里的checklend */
.black_content_managebook_lend {  
 display: none;
 position: absolute;
 background-color:black;  
 z-index:1002;
 border-radius: 20px;
 /* margin-top: -20%;
 margin-left: -48%; */
 /*top: -70%;*/
 top: -120px;
 left: 58px;
 width:78%;
  height: 400px;
 /*height:180%;*/
} 

 .black_content_return {  
  display: none;
  position: absolute;
  background-color:black;  
  z-index:1002;
  border-radius: 20px;
  top: -120px;
  left: 60px;
  width:78%;
   height: 400px;
  /*height:300%;*/
 }
 
 .black_content_fine {  
 display: none;
 position: absolute;
 background-color:black;  
 z-index:1002;
 border-radius: 20px;
 top: -120px;
 left: 60px;
 width:78%;
  height: 400px;
 /*height:300%;*/
 }

.white_content_lend {  
 width: 96%;  
 height: 75%;
 margin-top: 4%;
 margin-bottom: 10%;
 margin-right: 2%;
 margin-left: 2%;
 background-color:white;  
 /* z-index:1003; */
 overflow: auto; 
 border-radius: 10px;
 opacity: 0.9;
}
 
 .title_lend {
	 margin-top: 4%;
	 color: white;
	 font-family: arial;
	 font-size: 40px;
	 text-align: center;
 }
 
 .button_lend {
	height: 35px;
	margin: 0;
	border-radius: 7px;
	border-style: hidden;
	background: #99CCFF;
	color: white;
	font-size: 15px;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
	width: 90px;
	outline: none; 
 }
 .button_clear {
	height: 50%;
	margin: 0;
	border-radius: 7px;
	border-style: hidden;
	background: #99CCFF;
	color: white;
	font-size: 15px;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
	width: 90px;
	outline: none;
 }