.manage_reader_table {
	border:0px;
	margin-left: 280px;
	margin-top:100px;
	height: 100px;
	width: 1000px;
	opacity:0.9;
	border-collapse: collapse;
}
.manage_reader_table thead tr {font-size: 17px; color: black;  text-align: center; background-color:#e6e8fa; font-weight:bold;}
.manage_reader_table td{line-height: 20px; text-align: center; padding: 4px 10px 3px 10px; height: 18px;border: 0px solid #ffffff;}
.manage_reader_table tbody tr {background: #fff; font-size: 13px; color: #393939;}
.manage_reader_table tbody tr:nth-child(2n){ background: #E1FFFF;}

.search{
	float:right;
	margin:0 100px;
	opacity: 0.9;
	width: 454px;
    height: 42px;
    border:none;
    border-radius:5px;
	/* margin-top: 3.5%; */
}

.search input{
    width: 300px;
    height: 42px;
    border:none;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    font-style:italic;
	font-size: 15px;
	/* z-index:0;
	position: relative; */
}

.search button{
    width:112px;
    height: 42px;
    background-color:#d93c3c;
    color:#fff;
    border:none;
    border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	position: relative; /* small triangle */
	font-size:16px;
	font-weight: bold;
}

/* small triangle */
.search button::before{ 
	content:"";
	border-width:6px;
	border-style:solid;
	border-color: transparent #d93c3c transparent transparent;
	position: absolute;
	right:100%;
	top:38%;
}

.search a{
	position: relative;
}

#lib_searchbook{
	width:112px;
	height: 42px;
	background-color:#d93c3c;
	color:#fff;
	border:none;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
    border-top-left-radius: initial;
    border-bottom-left-radius: initial;
	position: relative; /* small triangle */
	font-size:16px;
	font-weight: bold;
}

#hide_button{
    width:112px;
    height: 42px;
    background-color:#d93c3c;
    border:none;
    border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	position: relative; /* small triangle */
	font-size:16px;
	font-weight: bold;
	/* z-index:1; */
}