<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
	<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
	<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

	<link type="text/css" rel="stylesheet" href="../static/css/admin_style.css" />
	<link type="text/css" rel="stylesheet" href="../static/css/admin_home.css" />
    <title>AdminHomepage</title>
    <script type="text/javascript">
    	window.onload=function(){
			setInterval(function(){
			var date = new Date();
			var year = date.getFullYear(); //获取当前年份
			var month = date.getMonth()+1; //获取当前月份
			var todaydate = date.getDate(); //获取当前日
			var weeks = ["Sun.","Mon.","Tur.","Wed.","Thr.","Fri.","Sat."];
			var day = date.getDay(); //获取当前星期几
			var week = weeks[day];
			var hour = date.getHours(); //获取小时
			var minute = date.getMinutes(); //获取分钟
			var second = date.getSeconds(); //获取秒

			if(month<10){
        		month = "0" + month;
    		}
    		if(todaydate<10){
        		todaydate = "0" + todaydate;
    		}
    		if(hour<10){
        		hour = "0" + hour;
    		}
    		if(minute<10){
        		minute = "0" + minute;
    		}
    		if(second<10){
        		second = "0" + second;
    		}

			var d = document.getElementById('datadiv');
			d.innerHTML = year + ' / ' + month + ' / ' + todaydate + ' ' + week + ' ' + hour + ' : ' + minute + ' : '+second;  },500)  }
    </script>
</head>
<body background="../static/images/backward_rev.png">
	<nav class="navbar navbar-transparent" role="navigation">
  		<div class="container-fluid">
    		<div class="nav navbar-nav admin_header_img">
      			<img src="../static/images/lob.png" alt="logo"style="width: 200px;"/>
    		</div>
    		<ul class="nav navbar-nav navbar-right admin_header_right">
      			<li class="dropdown">
      				<a class="admin_header_right_drop" href="#">
      					<span class="glyphicon glyphicon-user"></span>
      					<span>{{login}}</span>
      					<span class="caret"></span>
      				</a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'admin_changeinfo' %}"><span class="glyphicon glyphicon-cog"></span><span style="margin-left: 5px;">Change Imformation</span></a></li>
						<li><a href="{% url 'admin_home' %}"><span class="glyphicon glyphicon-home"></span><span style="margin-left: 5px;">Return Homepage</span></a></li>
						<li><a href="{% url 'homepage' %}"><span class="glyphicon glyphicon-log-out"></span><span style="margin-left: 5px;">Logout</span></a></li>
					</ul>
				</li>
    		</ul>
  		</div>
	</nav>
	
	<div id="Bibliosoft" class="container-fluid admin_menu">
		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-tabs nav-stacked menu_list" style="list-style-type: none;">
					<li><a href="{% url 'admin_manage' %}"><span>Manage Librarian</span></a></li>
					<li><a href="{% url 'admin_addlibrarian' %}"><span>Librarian Register</span></a></li>
					<li><a href="{% url 'admin_defaultvalue' %}"><span>Set Book Related Regulation</span></a></li>
					<li><a href="{% url 'admin_request' %}"><span>Process Reset Password Request</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="view_div">
		<div class="view_div_default view_div_username">
			<span>Admin {{login}}</span>
		</div>
		<div class="view_div_default view_div_welcome">
			<span>Welcome to Bibliosoft Admin System!</span>
		</div>
		
		<div id="datadiv" class="view_div_default view_datediv"></div>
		<div class="view_div_default view_div_proverb">
			<span class="view_div_proverb_span1">A great library contains the diary of the human race．</span>
			<span class="view_div_proverb_span2">- George Dawson</span>
		</div>
	</div>
	<nav class="navbar navbar-transparent navbar-fixed-bottom admin_bottom_bg" role="navigation">
    	<div class="container-fluid">
		    <ul class="nav navbar-nav navbar-right admin_bottom_right">
		        <li><a href="#">Group Information</a></li>
                <li>
      				<a href="#" data-toggle="tooltip" data-placement="top" title="1071906198@qq.com">Contact us</a>
				</li>
		    </ul>
    	</div>
	</nav>
	
	<script>
		$(function () { $("[data-toggle='tooltip']").tooltip(); });
	</script> 
</html>