<!DOCTYPE HTML>
<html lang="en">
<head>
<title>ReturnBooks</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="lend">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<link href="../static/css/librarian_lend&return.css" rel='stylesheet' type='text/css' />
	<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
	<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
	<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<link type="text/css" rel="stylesheet" href="../static/css/librarian_home.css" />
	<link type="text/css" rel="stylesheet" charset="utf-8" href="../static/css/search_style.css" />
	<link type="text/css" rel="stylesheet" charset="utf-8" href="../static/css/librarian_style.css" />

<!--//fonts--> 
<!-- 	<style>
	.menu_list {
	width: 14%;
	height:70%;
	
	margin: 0;
	border-radius: 20px;
	border:1px solid #ffffff;
	
	position: 'relative';
	float: left ;
	margin-right: -3px;
	}
	.function{
		
		margin: 0 100px;
		float: right ;
	}
    a{ text-decoration:none; 
	margin-left: 1px;}
	a:hover{ text-decoration:underline; } 
	.rest{
		
	}

	.sub_menue
	{
	display:none; 
	             
	}
	li:hover .sub_menue
	{
	display:block;  
	          
	}
	</style> -->
</head>
<body>
<nav class="navbar navbar-transparent" role="navigation">
  		<div class="container-fluid">
    		<div class="nav navbar-nav librarian_header_img">
      			<img src="../static/images/lo.png" alt="logo" width="200px" />
    		</div>
    		<ul class="nav navbar-nav navbar-right librarian_header_right">
      			<!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>username</a></li>-->
      			<li class="dropdown">
      				<a href="#">
      					<span class="glyphicon glyphicon-user"></span>
      					<span>{{login}}</span>
      					<span class="caret"></span>
      				</a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'librarian_changepwd' %}"><span class="glyphicon glyphicon-cog"></span><span style="margin-left: 5px;">Change Password</span></a></li>
						<li><a href="{% url 'librarian_home' %}"><span class="glyphicon glyphicon-home"></span><span style="margin-left: 5px;">Return Homepage</span></a></li>
						<li><a href="{% url 'homepage' %}"><span class="glyphicon glyphicon-log-out"></span><span style="margin-left: 5px;">Logout</span></a></li>
					</ul>
				</li>
    		</ul>
  		</div>
	</nav>
    
    <div id="Bibliosoft" class="container-fluid librarian_menu">
    	<div class="row">
    		<div class="col-md-12">
    			<ul class="nav nav-tabs nav-stacked menu_list" style="list-style-type: none;">
    				<li><a href="{% url 'librarian_managebook' %}"><span>Manage Books</span></a></li>
    				<li><a href="{% url 'librarian_lend' %}"><span>Lend Book</span></a></li>
    				<li class="li_active"><a href="{% url 'librarian_return' %}"><span>Return Book</span></a></li>
    				<!--<li><button type="button" value="{% url 'librarian_addcategory' %}" class="menu_button">Add Category</button></li>-->
    				<li>
    					<a href="#ReaderSetting" class="nav-header collapsed" data-toggle="collapse">
    						<span>Reader Setting</span>
    						<span class="pull-right glyphicon glyphicon-chevron-down"></span>
    					</a>
    					<ul id="ReaderSetting" class="nav nav-list collapse menu_submenu" style="height: 0px;">
    						<li><a href="{% url 'librarian_managereader' %}"><span>Manage Reader</span></a></li>
    						<li><a href="{% url 'librarian_addreader' %}"><span>Reader Register</span></a></li>
    					</ul>
    				</li>
    				<li><a href="{% url 'librarian_checkincome' %}"><span>Check Income</span></a></li>
    				<li><a href="{% url 'librarian_post' %}"><span>Edit Post</span></a></li>
    			</ul>
    		</div>
    	</div>
    </div>

<!--background-->
<!--h1>Lending Books</h1-->
		<div class="login-section">
	        <div class="login-w3l">	
						<h1>Return Books</h1>	<!--h2 class="sub-head-w3-agileits">Lend books</h2>	-->
						<br>
						<div class="login-form">			
							<form action = "{% url 'librarian_return' %}" method="post">
        						<input type="text" placeholder="book_id" name="book_id"/>

        						<input type="submit" value="return" name="return"/>
    						</form>
				<div style="font-size:26px;font-weight:normal;color:#000000;">{{ ans }}</div>
</div>
	<nav class="navbar navbar-transparent navbar-fixed-bottom librarian_bottom_bg" role="navigation">
    	<div class="container-fluid">
		    <ul class="nav navbar-nav navbar-right librarian_bottom_right">
		        <li><a href="#">Group Information</a></li>
                <li>
      				<a href="#" data-toggle="tooltip" data-placement="top" title="1071906198@qq.com">Contact us</a>
				</li>
		    </ul>
    	</div>
	</nav>
	
	<script>
		$(function () { $("[data-toggle='tooltip']").tooltip(); });
	</script>
</body>
</html>